<h3>Detalles del producto</h3>
<div>
    <div>
        <label><b>ID: </b> {{producto.id}}</label>
    </div>
    <div>
        <label><b>Producto: </b> {{producto.name}}</label>
    </div>
    <div>
        <label><b>Cantidad en inventario: </b> {{producto.inInventory}}</label>
    </div>
    <div>
        <label><b>Habilitado: </b> {{producto.enabled}}</label>
    </div>
    <div>
        <label><b>Cantidad minima: </b> {{producto.min}}</label>
    </div>
    <div>
        <label><b>Cantidad maxima: </b> {{producto.max}}</label>
    </div>
</div>